<div class="container">

<h1>Employees</h1>



      <div class="table-responsive">
        <table class="table table-bordered">
          
           <tr> 

      <th>ID</th>
      <th>Status</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Date of Birth</th>
      <th>Gender</th>
      <th>Mobile</th>
      <th>Country</th>
      <th>Department</th>
      <th>Office</th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= link_to employee.id, employee %></td>
        <td><%= employee.status %></td>
        <td><%= employee.first_name %></td>
        <td><%= employee.last_name %></td>
        <td><%= employee.date_of_birth %></td>
        <td><%= employee.gender %></td>
        <td><%= employee.mobile %></td>
        <td><%= employee.country %></td>
        <td><%= employee.department %></td>
        <td><%= employee.office %></t>
              </tr>
    <% end %>
  </tbody>
</table>
</div>
</tr>
</thead>
</table>

<br>

 <centre><%= link_to 'New Employee', new_employee_path %></centre>






    

     
    
