

show
<p>
  <lable>Employee ID:</lable>
<%= @employee.employee_id %>
</p>

	<p>
  <lable>First Name:</lable>
<%= @employee.first_name %>
</p>
<p>
  <lable>Last Name:</lable>
<%= @employee.last_name %>
</p>
<p>
  <lable>Date of Birth:</lable>
<%= @employee.date_of_birth %>
</p>
<p>
  <lable>Gender:</lable>
<%= @employee.gender %>
</p>
<p>
  <lable>Address:</lable>
<%= @employee.address1 %>
</p>
<p>
  <lable>Address line 2:</lable>
<%= @employee.address2 %>
</p>
<p>
  <lable>City:</lable>
<%= @employee.city %>
</p>
<p>
  <lable>Postcode:</lable>
<%= @employee.postcode %>
</p>
<p>
  <lable>State:</lable>
<%= @employee.state %>
</p>
<p>
  <lable>Start Date:</lable>
<%= @employee.start_date %>
</p>	

</div>
</div>

