<div class="container">
	<div class="section">


<%= simple_form_for(@asset) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
  </div>
<%= f.input :asset_tag %>
<%= f.input :asset_type %>
<%= f.input :model_brand %>
<%= f.input :serial_no %>
<%= f.input :manafacture_date %>
<%= f.input :host_name %>
<%= f.input :mac_address_ethernet %>
<%= f.input :mac_address_wifi %>
<%= f.input :operating_system %>
<%= f.input :business_unit %>
<%= f.input :location %>
<%= f.input :sophos_installed_date %>
<%= f.input :admin_password %>
<%= f.input :user_password %>
<%= f.input :setup_by %>
</div>
</div>
  <div class="form-actions">
    <%= f.button :submit %>

<% end %>
</div>