<p id="notice"><%= notice %></p>

<h1>Assets</h1>

<table>
  <thead>
    <tr>

      <th>Asset Tag</th>
      <th>Asset Type</th>
      <th>Model/Brand</th>
      <th>Serial No</th>
      <th>Manafacture Date</th>
      <th>Host Name</th>
      <th>MAC Address Ethernet</th>
      <th>MAC Address Wifi</th>
      <th>Operating System</th>
      <th>Business Unit</th>
      <th>Location</th>
      <th>Sophos Install Date</th>
      <th>Admin Password</th>
      <th>User Password</th>
      <th>USetup By</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assets.each do |asset| %>
      <tr>
 <td><%= link_to asset.id, assets %></td>
        <td><%= asset.asset_tag %></td>
        <td><%= asset.asset_type %></td>
        <td><%= asset.model_brand %></td>
        <td><%= asset.serial_no %></td>
        <td><%= asset.manafacture_date %></td>
        <td><%= asset.host_name %></td>
        <td><%= asset.mac_address_ethernet %></td>
        <td><%= asset.mac_address_wifi %></td>
        <td><%= asset.operating_system %></t>
        <td><%= asset.business_unit %></t>
        <td><%= asset.location %></t>
        <td><%= asset.sophos_install_date %></t>
        <td><%= asset.admin_password %></t>
        <td><%= asset.user.password %></t>
        <td><%= asset.setup_by %></t> 
    </tr>
    <% end %>
  </tbody>
</table>
</div>
</tr>
</thead>
</table>

<br>


     <centre><%= link_to 'New Asset', new_asset_path %></centre>





