<!DOCTYPE html>
<html>
  <head>
    <title>HutchTec</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
  </head>
  

  <body>

    <!-- Navigation Bar -->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container">
        <%= link_to "HutchTec", root_path, class: "navbar-brand" %>
        <ul class="navbar-nav"></ul>
          
         </ul> 
          
       
      </div>
    </nav>

    <!-- Flash Messages -->
    

    <!-- Page Content -->
    <%= yield %>
    
    <!-- Footer -->
    <footer class="small text-muted">
      <div class="container">
        <hr>
        <center>
          <p>© HutchTec Design</p>
        </center>
      </div>
    </footer>

  </body>
</html>


