<!DOCTYPE html>
<html>
  <head>
    <title>Hris2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


<!-- navbar -->
<div class="navbar navbar-inverse">
</div>
<div class="sidebar sidebar-main">
  </div>



  <body>
    <%= yield %>
  </body>
</html>
